body {
	background-color: rgb(214, 214, 214);
  }
  h1 {
	color: blue;
  }
  h3 {
	text-transform: uppercase;
	font-size: 50px;
  }
  p {
	font-family: "Times New Roman", Times, serif;
	color: rgb(0, 0, 0);
	font-size: 20px;
  }

#example1 {
	border: 5px solid black;
	padding: 15px;
	text-align: center;
	color: #4CAF50;
  }
#example2 {
	text-align: center;
}